.homePageDiv .cardSection .innerCard .cardLogo img {
    width: auto;
    height: auto;
    padding: 0px;
}
span .navLink{
    cursor: pointer;
}
a :hover{
    text-decoration: none  !important;
}
.registerLink{
    display: flex;
    color:black;
    /* margin-top: -46%; */
    /* padding-top: 30%; */
    /* width: 100%; */
    font-size: medium;

    /* padding-left: 130%; */
    color: #009868;
    cursor: pointer;

}
.register
{
    width: 30%;
    margin-left: 32%;
}

.register select{
    display: block;
    width: 100%;
    height: 68px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.button{
    display: flex;
    margin-top: 33%;
    justify-content: center;
    margin-top: -5px;
}
.main{
            display: flex;
            padding-left: 148%;
            cursor: pointer;
            font-size: 15px;
            margin-top: -38%;
            color: crimson;
}
.main1{
    display: flex;
    padding-left: 165%;
    cursor: pointer;
    font-size: 15px;
    margin-top: -4.7%;
    color: coral;
}
.makeStyles-root-1 {
    margin: 35vh auto;
    max-width: 500px;
    background: #fff;
    min-width: 400px;
    padding: 20px;
}
.table_video_section img{
    height: 150px;
    width: 180px;
    padding: 20px;
}
.row{
    margin: 0px;
}
.react-calendar__month-view__days {
    border-top: 1px solid #000;
    border-left: 1px solid#000;
}
.react-calendar__month-view__days button {
    background: #fff;
    padding: 4px;
    height: 30px;
    width: 20px !important;
    border-right: 1px solid #000;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #000;
}
.react-calendar__viewContainer .react-calendar__month-view {
    width: 300px;
}
.react-calendar__month-view__weekdays {
    padding: 4px;
    text-align: center;
}
.react-calendar__month-view__weekdays abbr {
    text-decoration: none;
    font-weight: bold;
}
button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
    color: #fff;
    background: #286090;
}
button.react-calendar__tile.react-calendar__month-view__days__day:hover {
    background: #286090;
    color: #fff;
}
button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth:hover{
    color: #9ba3bc;
    background: transparent;
}
.react-calendar__viewContainer {
    margin: 20px 0px;
}
button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
    color: #9ba3bc;
}
button.react-calendar__tile.react-calendar__year-view__months__month {
    border: none;
    padding: 4px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #fff;
}
button.react-calendar__tile.react-calendar__year-view__months__month:hover{
    color: #fff;
    background: #286090;
}
.react-calendar__year-view {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    width: 300px;
}
button.react-calendar__tile.react-calendar__tile--now.react-calendar__year-view__months__month {
    color: #fff;
    background: #286090;
}
.react-calendar__decade-view__years {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    width: 300px;
}
button.react-calendar__tile.react-calendar__decade-view__years__year{
    border: none;
    padding: 4px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #fff;
}
button.react-calendar__tile.react-calendar__tile--now.react-calendar__decade-view__years__year{
    color: #fff;
    background: #286090;
}
button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
    border-right: 1px solid #000;
}
button.react-calendar__tile.react-calendar__century-view__decades__decade{
    border: none;
    padding: 4px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #fff;
}
.react-calendar__century-view{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    width: 300px;
}
button.react-calendar__tile.react-calendar__decade-view__years__year:hover{
    color: #fff;
    background: #286090;     
}
button.react-calendar__tile.react-calendar__century-view__decades__decade:hover{
    color: #fff;
    background: #286090;
}
button.react-calendar__tile.react-calendar__tile--now.react-calendar__century-view__decades__decade{
    color: #fff;
    background: #286090;
}
.react-calendar__navigation button {
    background: #fff;
    border: none;
    border-left: 1px solid #000;
    padding: 4px 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
button.react-calendar__navigation__arrow:active {
    color: #000;
    background: #9ba3bc8c;
}
button.react-calendar__navigation__arrow {
    background: #286090cc;
    color: #fff;
}
button.react-calendar__navigation__label {
    width: 125px;
}
.table_section{
    display: flex;
    justify-content: space-evenly;
}
.table_section video,img{
    height: 150px;
    width: 350px;
    padding: 20px;
}
.popup-content {
    z-index: 99 !important;
}
.mainPage table.table.table-bordered td img {
    height: 120px;
    width: 150px;
}
.profileSetup
{
    background-color: white;
    height: auto;
    border-radius: 14px;
    min-height: 40%;
    margin-bottom: 5%;
}
.previousBtn , .nextBtn{
    background: #009868;
    border: none;
    border-radius: 8px;
    width: 150px;
    min-height: 40px;
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
}
.profilesBtn
{
    display: flex;
    padding: 0 3%;
    justify-content: space-between;
}
.sectionHeading{
    font-size: 20px;
    font-weight: 500;
    padding: 1% 0 0 3%;
    margin-bottom: 15px;
}
.selectManuItems{
    display: grid;
    padding: 3%;
    grid-template-columns: auto auto auto auto auto auto ;
    /* background-color: #2196F3; */
}
.addpersonsHeadings{
    padding: 10px 0px 0px 27px;
}
.padding20{
    padding: 3%;
}
.userCustomRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    margin-bottom: 3%;
}

.userCustomRow .value{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 15px;
}
.userHomeRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    /* padding: 20px 30px 20px 30px; */
    border-radius: 10px;
    margin-bottom: 3%;
}

.userHomeRow .infoDiv {
    display: flex;
    flex-direction: column;
    gap: 4px;    
}

.firstDivOfuserHomeRow {
    column-gap: 22px;
display:flex
}

.recordName{
    font-weight: 600;
    font-size: 18px;
}
.recordDate{
    font-size: 11px;
}
.addRecordBtn{
    width: 100px;
    margin-top: 23px;
    /* padding: 1px; */
    height: 21px;
    /* border: 1px solid; */
    padding: 0px 0px 0px 6px;
    border-radius: 5px;
    background-color: #009868;
    color: #fff;
}

.userCardSection{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 30px;
    justify-content: space-between;
    grid-column-gap: 30px;
}

.userCardSection .card{
    height: 120px;
    border-radius: 10px;
    width: 360px;
    /* max-width: 80%; */
    /* background-color: #F2EAED; */

}
.userCardSection .card .innerCard {
    padding: 11px 0px 0px 17px;
    display: flex;
    /* gap: 25px; */
    flex-direction: column;
}
.secondRow{
    /* padding: 0px 0px 0px 18px; */
    display: flex;
    flex-direction: column;
}

.userCardSection .name{
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
}
.userCardSection  .parentSecondRow{
    
    display: flex;
    padding: 0px 18px;
    color: black;
    justify-content: space-between;
}
.userCardSection .count{
    margin-left: 10px;
}
#faUserAlt{
    color: #000;
}
.topHeader .profileLink{
    cursor: pointer;
    font-size: 13px;
    border: none;
    outline: none;
    color: white;
    padding: 4px 6px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 03px 06px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 02px 03px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  /* .topHeader a:hover, .dropdown:hover .profileLink {
    background-color: #5;
  color: white;
  }
   */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: 22px;
    margin-right:35px;
  }
  
  